
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div>
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                <input id="name" type="text" />
            </td>
        </tr>
    </table>
</div>