@* Goes in Views\ComplaintList *@
<complaint>

@{
    ViewBag.Title = "Complaint List";
}

<h2>Complaint List</h2>

@using (Html.BeginForm("ComplaintList", "ComplaintList", FormMethod.Post))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    ComplaintId
                </th>
                <th>
                    Name
                </th>
                <th>
                    Date
                </th>
                <th>
                    RoomNo
                </th>
                <th>
                    Type
                </th>
                <th>
                    Technician
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody id="childtable">
            @Html.EditorFor(model => Model)
        </tbody>
    </table>
    <p>
        <input name="command" type="submit" value="Add" />
        <input name="command" type="submit" value="Delete" />
        <input name="command" type="submit" value="Edit" />
    </p>
    <p>
       @Html.ValidationSummary()
        <input name="command" type="submit" value="Submit" />
    </p>
}
